body {
    background-image: url(IMG/img01.jpg);
    background-color: white;
    font-size: 18px;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5b8e9316e17ba3e400af6bf6/1549449919999-IZB4YLZVWXPQNZE9KYWW/ke17ZwdGBToddI8pDm48kLPswmMOqQZ9-Q6KHLjvbpZ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UTcpTqfU-ZEsztPyQLxhSSK-PhJjRDDFQG0l3_ZnmWi1QjT9byXZM3ISxo3y1NRptg/001.jpg?format=1500w);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: fill;
    font-family: "Roboto-Light";
}
h1 {
    text-decoration: none;
    color:honeydew;
    text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
  .button {
      background-color: ghostwhite; 
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-family: "Roboto-Thin";
      margin: 4px 2px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
            }

.video-fluid {
    width: 100%;
    height: auto;
}
.videoB{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
div.transbox{
    padding: 10px;
    opacity: 1;
    background-repeat: repeat-x;
}
.div2 {
  width: auto;
  height: auto;  
  padding: 5px;
  border: 1px solid black;
}

 div.transbox h1{
     margin: 1%;
     text-align: center;
     font-weight: lighter;
     color: #FB9739;
    }
h2 {
    text-decoration: underline overline dotted red;
    text-align: center;
    opacity: 0.8;
}
p{
    color: whitesmoke;
    text-shadow: 1px 1px 5px grey;
}
a:hover {
  background-color: yellow;
}
p.clear {
  clear: both;
}
img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.column:hover {
    transform: scale(1.2);
}
.a:hover {
    transform: scale(1.2);
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
    font-size: 8px;
    font-family: "MeriendaOne-Regular"; /* Font #2 */
    position: fixed;
    opacity: 0.5; 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}